{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module",
    "ecmaVersion": 2022
  },
  "plugins": ["@typescript-eslint", "simple-import-sort"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-type-checked",
    "plugin:prettier/recommended",
    "plugin:unicorn/recommended",
    "plugin:node/recommended"
  ],
  "rules": {
    "no-constant-condition": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "unicorn/number-literal-case": "off",
    "unicorn/no-null": "off",
    "unicorn/prefer-module": "off",
    "unicorn/prefer-top-level-await": "off",
    "unicorn/prevent-abbreviations": "off",
    "unicorn/prefer-code-point": "off",
    "unicorn/switch-case-braces": "off",
    "unicorn/no-for-loop": "off",
    "unicorn/no-this-assignment": "off",
    "no-console": "warn",
    "node/no-missing-import": "off",
    "node/no-unsupported-features/es-syntax": [
      "error",
      { "ignores": ["modules"] }
    ],
    "node/no-unpublished-import": "off",
    "no-process-exit": "off"
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "rules": {
        "simple-import-sort/imports": [
          "error",
          {
            "groups": [
              [
                "^(assert|buffer|child_process|cluster|console|constants|crypto|dgram|dns|domain|events|fs|http|https|module|net|os|path|punycode|querystring|readline|repl|stream|string_decoder|sys|timers|tls|tty|url|util|vm|zlib|freelist|v8|process|async_hooks|http2|perf_hooks)(/.*|$)"
              ],
              ["^node:.*\\u0000$", "^@?\\w.*\\u0000$", "^[^.].*\\u0000$", "^\\..*\\u0000$"],
              ["^\\u0000"],
              ["^node:"],
              ["^@?\\w"],
              ["^@src(/.*|$)"],
              ["^"],
              ["^\\."]
            ]
          }
        ]
      }
    },
    {
      "files": ["tests/**"],
      "plugins": ["vitest"],
      "extends": ["plugin:vitest/recommended"],
      "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-unsafe-return": "off",
        "@typescript-eslint/unbound-method": "off",
        "unicorn/consistent-function-scoping": "off",
        "vitest/expect-expect": "off",
        "vitest/no-standalone-expect": "off",
        "@typescript-eslint/no-unsafe-argument": "off"
      }
    }
  ],
  "env": {
    "node": true
  }
}